<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。和接口路径一致 -->
<mapper namespace="com.luka.bzj.goods.mapper.SupplierMapper">
    <!-- select操作
        resultType="map"表示返回的是一个Map对象
        使用列名做key，值做value
        -->

    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.luka.bzj.goods.entity.Supplier">
        INSERT INTO `shopxo`.`t_brand` (
    `logo`,
    `name`,
    `website_url`,
    `is_enable`,
    `sort`,
    `seo_title`,
    `seo_keywords`,
    `seo_desc`,
    `add_time`,
    `upd_time`,
    `supplier_name`,
    `supplier_details`,
    `supplier_phone`,
    `supplier_model`,
    `supplier_location`,
    `contact_name`,
    `contact_tel1`,
    `contact_tel2`,
    `contact_email`
    )
    VALUES
	(
	'',
	#{brandName},
	'',
	1,
	0,
	'',
	'',
	'',
	1551064263,
	1596291144,
	#{supplierName},
	#{supplierDetails},
	#{supplierPhone},
	#{supplierModel},
    #{supplierLocation},
	#{contactName},
	#{contactTel},
	NULL,
    NULL
	);
    </insert>
</mapper>